%p 
  = "Hello #{@recipient.first_name},"

%p Welcome to Criticube and thanks for joining! To help you get started here is a quick overview of some of the basic things you can do with Criticube.

%p
  %b Find Cubes to follow and discuss your hobbies, interests or expertise

%p The best way to get to know the Criticube community is to check out our Cubes. A Cube is a place where you can store and simultaneously share what we call a ‘Thought’. On the Explore page you can find an overview of the Cubes that have already been created by other users. You can follow these Cubes, join in discussions and share your own thoughts. The more Cubes you follow, the more knowledge you will consume :)

%p
  %b Create your own Cubes 

%p Instead of posting in someone elses Cube you might want to create your own. You can create a Cube to discuss anything you are passionate about. Try creating your own Cube by clicking on ‘Create Cube’ on the Explore page. Please remember to give your Cube a catchy title, a clear description and a unique avatar. By doing so, others who share your interests can easily spot your cube.

%p
  %b Share your thoughts about...anything! 

%p Criticube is a place where you can quickly and effortlessly store your thoughts about different topics and share them with others. The minute you login you can start sharing your thoughts and place them in different Cubes. On your profile page you have an overview of all the thoughts and comments you have posted.

%p
  %b Debate feature: Challenge or Support? 

%p When someone posts a Thought you might agree or you might disagree. To stimulate learning and knowledge sharing Criticube allows you to challenge or support someone else's Thoughts or comments. Try commenting on a Thought on Criticube that caught your attention and experience the debative functionality for yourself.

%p 
  = "To learn more about how Criticube works and new features we are working on, check out " 
  = link_to('our blog', 'blog.criticube.com')

%p I hope you enjoy Criticube as much as we enjoy making and improving it. We encourage you to invite your friends to Criticube so that you can share your interests with them!

%p 
  = "If you have any questions, don’t hesitate reach me by replying to this email"

%p Best,
%p Titus