- provide :content do
  .row
    .span10
      - if @featured_cubes
        .page-header{:style => 'width: 770px;'}
          %h1
            = 'Featured Cubes'
        .clearfix
          %ul.cubes.items
            - @featured_cubes.each do |cube|
              = render :partial => '/cubes/cubecard', :locals => {:cube => cube}

      .page-header{:style => 'width: 770px;'}
        .row
          .span7
            %h2
              = @header
          / .big-text.right
          /   .dropdown{:style => 'padding-top: 10px;'}
          /     %a.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown'}
          /       %span.dropdown.open
          /         = 'Language'
          /         %span.caret.navbar-caret    

      .clearfix
        %ul.cubes.items
          - @cubes.each do |cube|
            = render :partial => '/cubes/cubecard', :locals => {:cube => cube}
      = paginate @cubes

    .span2
      .div{:style => 'padding-top: 10px'}
        = link_to 'Create cube', new_cube_path, :class => 'btn btn-large core', :style => 'width: 110px;'
      .page-header
        %h3 
          = 'Explore'
      %ul.items
        %li
          %h4
            = link_to 'All', explore_topic_path('all')
          %hr.slim
        %li
          %h4
            = link_to 'Latest', explore_topic_path('latest')
          %hr.slim          
                    
      .page-header
        %h3
          = 'Topics'
      %ul.items
        - @topics.each do |topic|
          %li
            %h4
              = link_to topic.name, explore_topic_path(topic)
            %hr.slim    