- provide :content do
  .well
    %h2
      Settings
      %span.right
        = link_to 'Back', root_path, :class => 'btn btn-inverse'

  .row      

    .span6
      .well{:style => 'height:182px;'}
        .page-header
          %h4
            Email me when:
        = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
          .control-group
            = f.check_box :subscribe_messages, :class => 'span4' 
            %nbsp/  
            = 'Someone sends me a private message'
          .control-group
            %br/
            = f.submit "Update", :class => 'btn btn-primary'                     

    .span6
      .well{:style => 'height:182px;'}
        .page-header
          %h4
            Social
        - if current_user.facebook_auth
          %h4
            = 'Connected to Facebook'
          %span.minor.blend
            = link_to 'Disconnect', destroy_authentication_path(:facebook) , :method => :delete, :confirm  => 'Are you sure?'
        - else
          %h4
            = link_to 'Connect to Facebook', user_omniauth_authorize_path(:facebook)
          %span.minor
            = 'This will enable you to login with your Facebook account'

        
  .well
    .page-header
      %h4
        Account
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!
      .control-group
        = f.label 'Email', :class => 'control-label core'
        .controls
          = f.email_field :email, :class => 'span4'
      .control-group
        = f.label :password, :class => 'control-label core'
        .controls
          = f.password_field :password, :class => 'span4'
          .help-block.minor (leave blank if you don't want to change it)
      .control-group
        = f.label :password_confirmation, :class => 'control-label core'
        .controls
          = f.password_field :password_confirmation, :class => 'span4'
      .control-group
        = f.label :current_password, :class => 'control-label core'
        .controls
          = f.password_field :current_password, :class => 'span4'
          .help-block.minor (we need your current password to confirm your changes)
      .control-group
        = f.submit "Update", :class => 'btn btn-primary'

  .well.danger
    %h4 Destroy account
    %p
    %p
      %b
        WARNING: You will lose all your data and it will be irreversible, please be 100% sure
    %p
      = link_to "Destroy my account", registration_path(resource_name), :data => { :confirm => "WARNING: Are you 100% sure?" }, :class => 'btn btn-danger', :method => :delete