%li{:data => {'id' => notification.id, 'tipe' => 'Notification'}}
  .row
    .span1
      = link_to image_tag(notification.activity.actor.avatar_url(:small)), vanity_path(notification.activity.actor), :class => 'right'
    .span7
      .row
        .span5
          %p
            = link_to notification.activity.actor.fast_name, vanity_path(notification.activity.actor) 
            = notification.activity.action_story
            - if (notification.activity.primary_objekt.class == Cube) || (notification.activity.primary_objekt.class == User)
              = link_to notification.activity.primary_objekt.name, vanity_path(notification.activity.primary_objekt)
            - elsif notification.activity.primary_objekt.class == Post
              = link_to notification.activity.primary_objekt.name, vanity_post_path(notification.activity.secondary_objekt, notification.activity.primary_objekt)
            - elsif notification.activity.primary_objekt.class == Reply  
              = link_to notification.activity.primary_objekt.name, vanity_post_path(notification.activity.tertiary_objekt, notification.activity.secondary_objekt)

          %p.minor
            = friendly_datetime(notification.activity.created_at)

        .span2
          .notification_read_button_container
            = notification_read_button(notification)

      %hr.slim