- provide :content do
 
  = render :partial => 'header', :locals => {:user => @user}

  %p
      
  .row
    .span7.offset1
      .row
        .span6.offset1
          %h3
            = "#{Post.context_tipe.capitalize}s"
          %hr.slim

      - if @posts.length == 0
        .row
          .span6.offset1
            = 'No #{Post.context_tipe} yet'

      - else
        %ul.items.activities
          - @posts.each do |post|
            = render :partial => '/posts/post', :locals => {:post => post}
          .row
            .span6.offset1
              = link_to "See all #{Post.context_tipe}", vanity_posts_path(@user)    
      
      %br/
      %br/      

      .row
        .span6.offset1
          %h3
            = 'Activities'
          %hr.slim
      
      - if @activities.length == 0
        .row
          .span6.offset1
            = 'No activities yet'

      - else
        %ul.items.activities
          - @activities.each do |activity|
            = render :partial => '/activities/activity', :locals => {:activity => activity}
          .row
            .span6.offset1
              = link_to 'See all activities', vanity_activities_path(@user)    

    .span3.offset1
      %h3
        = "#{@user.first_name}'s cubes"
        - if user_signed_in? && (@user == current_user)
          %span.right
            = link_to 'New Cube', new_cube_path, :class => 'btn btn-mini'
      %hr.slim

      - @user.participated_cubes.each do |cube|
        .cube.clearfix
          .picture.left{:style => 'padding-right: 10px'}
            = link_to image_tag(cube.avatar_url(:small)), vanity_path(cube)
          .content.left{:style => 'width: 178px'}
            = link_to cube.name, vanity_path(cube), :class => 'core'
        %hr.slim