- provide :content do

  .row
    .span4.well
      .page-header
        %h3
          = 'Request new password'
      = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => ['form-stacked', 'no_padding'] }) do |f|
        = devise_error_messages!
        .control-group
          = f.label 'Email', :class => 'control-label core'
          .controls
            = f.email_field :email, :class => 'span4'
        %br/      
        .control-group
          = f.submit "Send to my email", :class => 'btn btn-large btn-primary'
      %hr
      = render :partial => "devise/shared/links"