%footer.footer{:class => (@special_page ? 'special_footer' : '')}
  .container
    = link_to 'Blog', 'http://blog.criticube.com', :class => 'blend', :style => (@special_page ? 'color:#FFF' : '')
    %span{:style => (@special_page ? 'color:#FFF' : '')}
      = ' | '  
    = link_to 'Contact', contact_path, :class => 'blend', :style => (@special_page ? 'color:#FFF' : '')
    %span{:style => (@special_page ? 'color:#FFF' : '')}
      = ' | '  
    = link_to 'Privacy', privacy_path, :class => 'blend', :style => (@special_page ? 'color:#FFF' : '')

    .pull-right
      = render :partial => '/shared/social_bar'
  - if Rails.env.production?
    :javascript
      var _gauges = _gauges || []; (function() {var t   = document.createElement('script');t.type  = 'text/javascript'; t.async = true; t.id    = 'gauges-tracker'; t.setAttribute('data-site-id', '4f390cd8613f5d04f6000053'); t.src = '//secure.gaug.es/track.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(t, s); })();