.navbar.navbar-fixed
  .navbar-inner
    .container
      = link_to image_tag('logo_navbar.png'), root_path, :class => 'brand'
      %ul.nav.pull-right

        - if user_signed_in?
          %li
            = link_to current_user.first_name, profile_path(current_user), :class => 'text'
          %li.dropdown
            %a.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown'}
              %b.caret.core
            %ul.dropdown-menu
              %li
                = link_to 'Account', edit_user_registration_path
              %li
                = link_to 'Logout', destroy_user_session_path, :method => :delete

        - else
          %li
            = link_to 'Use Facebook', user_omniauth_authorize_path(:facebook), :class => 'text core'
          %li
            = link_to 'Login', new_user_session_path, :class => 'text core'
          %li
            = link_to 'Signup', new_user_registration_path, :class => 'text core'
