- provide :content do
  .row
    .span4.well
      %h3
        = 'Sign in with Facebook'
  .row
    .span4.well
      .page-header
        %h4
          = 'Sign in with email'
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .control-group
          = f.label 'Email', :class => 'control-label core'
          .controls
            = f.email_field :email, :class => 'span4'
        .control-group
          = f.label :password, :class => 'control-label core'
          .controls
            = f.password_field :password, :class => 'span4'
        .control-group
          = "Remember me "
          = f.check_box :remember_me
        .control-group
          = f.submit "Sign in", :class => 'btn btn-primary btn-large'

      = render "devise/shared/links"
