%li
  .row
    .span1
      = link_to image_tag(post.creator.avatar_url(:small), :class => 'push-down'), vanity_post_path(post.creator), :class => 'right'

    .span6
      %p
        = link_to post.creator.name, vanity_path(post.creator), :class => 'core blend'
      %p.big-text
        = link_to post.headline, vanity_post_path(post.parent, post), :class => 'core'
      - if post.content && !post.content.blank?
        .truncate.content
          = htmlize(post.content) 
        
      %span.minor.quiet
        = "#{friendly_datetime(post.updated_at)} • Posted on"
        = link_to post.parent.name, vanity_path(post.parent)
      %hr.slim