%li.reply{:data => {'type' => 'Reply', 'id' => reply_reply.id}}
  %a{:name => "reply_#{reply_reply.id}"}
  .row
    .span1
      = link_to image_tag(reply_reply.creator.avatar_url(:small)), vanity_path(reply_reply.creator), :class => 'right'
    .span6
      .row.header
        .span4
          %p
            = link_to reply_reply.creator.fast_name, vanity_path(reply_reply.creator), :class => 'core'
            - if reply_reply.parent != reply_reply.root
              %span.minor
                = ' replied to '
                = link_to("#{reply_reply.parent.creator.fast_name}'s opinion", reply_reply.parent.dynamic_permalink)            
        .span2.align-right
          = render :partial => '/posts/reply_corner', :locals => {:reply => reply_reply}
      .row.content
        .span6
          = simple_htmlize reply_reply.content
      .row.meta{:data => {'id' => reply_reply.id, 'anchor' => link_to("#{reply_reply.creator.name}'s opinion", reply_reply.dynamic_permalink)}} 
        .span6
          %span.actions
            = reply_actions_tab(reply) 

      %hr    