%span.dropdown.align-left
  %a.dropdown-toggle.label{:href => '#', 'data-toggle' => 'dropdown'}
    %b.caret.core
  - if user_signed_in?
    %ul.dropdown-menu
      %li
        - if reply.root == reply
          = reply_actions_reply_link(reply)
        - else
          = reply_actions_reply_link(reply.root)
      - if current_user == reply.creator || @post.parent.managers.include?(current_user)
        %li
          - if reply.descendants && reply.descendants.length > 0
            = link_to 'Delete', vanity_post_reply_path(@post.parent, @post, reply), :remote => true, :method => :delete, :confirm => "This action will also delete #{reply.descendants.count} reactions to this reply. Doing so might upset other users, are you sure?"
          - else  
            = link_to 'Delete', vanity_post_reply_path(@post.parent, @post, reply), :remote => true, :method => :delete, :confirm => "Are you sure?"