- provide :content do
  %a{:name => "post_#{@post.id}"}
  .row
    .span8
      .row
        .span1
          = link_to image_tag(@post.creator.avatar_url(:thumb), :class => 'push-further-down'), vanity_path(@post.creator), :class => 'right'
        .span7
          .page-header
            %p
              %h5
                = link_to(@post.creator.name, vanity_path(@post.creator))
                = ' posted an opinion in '
                = link_to(@post.parent.name, vanity_path(@post.parent))
                = " - " + friendly_datetime(@post.created_at)
            %h2
              = @post.headline
            .content
              - if @post.content && !@post.content.blank?
                = htmlize(@post.content)
              - elsif user_signed_in? && (current_user == @post.creator)
                %br/
                = link_to 'Add description', edit_vanity_post_path(@post.parent, @post)
      .row
        .span7.offset1
          %h3
            = 'Replies'
          %hr    

      .row
        .span8
          %ul.items.replies{:data => {'root' => ""}}
            - @post.replies.roots.each do |reply|
              = render :partial => 'reply', :locals => {:reply => reply}

      - if user_signed_in?
        .row
          .span1
            = link_to image_tag(current_user.avatar_url(:small)), vanity_path(current_user), :class => 'right'
          .span7
            = render :partial => 'new_reply'  

    .span4
      .right.push-further-down

        - if user_signed_in?
          - if @post.creator == current_user
            %span.dropdown
              %a{:class => 'btn dropdown-toggle', :href => '#', 'data-toggle' => 'dropdown'}
                %i.icon-wrench
                %b.caret.core
              %ul.dropdown-menu
                %li
                  = link_to "Edit #{@post.tipe}", edit_vanity_post_path(@post.parent, @post)              
                %li
                  = link_to "Delete #{@post.tipe}", vanity_post_path(@post.parent, @post), :method => :delete, :confirm => "This action will also delete other users' replies, are you sure?"
          - elsif @post.parent.managers.include?(current_user)   
            %span.dropdown
              %a{:class => 'btn dropdown-toggle', :href => '#', 'data-toggle' => 'dropdown'}
                %i.icon-wrench
                %b.caret.core
              %ul.dropdown-menu
                %li
                  = link_to "Delete #{@post.tipe}", vanity_post_path(@post.parent, @post), :method => :delete, :confirm => "You are about to delete someone else's post using your cube admin rights, are you sure?"

        %span.follow_panel{:data => {"id" => @post.id, "tipe" => @post.class.to_s }}
          = follow_button(@post)                    