- if (!user_signed_in? || (user_signed_in? && (objekt != current_user))) && objekt.class != Reply
  %span.follow_link_panel{:data => {"id" => objekt.id, "tipe" => objekt.class.to_s }}
    = follow_link(objekt)
  = " • "
- if objekt.class == Post
  = "Posted in "
  = link_to objekt.parent.name, vanity_path(objekt.parent)
  = " • "
%span.quiet
  = "#{friendly_datetime_fixed(objekt.updated_at)}"
%span.right
  = image_tag("activity_icons/#{action}_blue_16.png")
  = image_tag("activity_icons/#{objekt.class.to_s.downcase}_grey_16.png")