- if !user_signed_in? || (user_signed_in? && (objekt != current_user))
  %span.follow_link_panel{:data => {"id" => objekt.id, "tipe" => objekt.class.to_s }}
    = follow_link(objekt)
  = " • "
- if objekt.class == Post
  = "Posted in "
  = link_to objekt.parent.name, vanity_path(objekt.parent)
  = " • "
%span.quiet
  = "#{friendly_datetime(objekt.updated_at)}"