- provide :content do
 
  = render :partial => "#{@parent.class.to_s.downcase.pluralize}/header", :locals => {@parent.class.to_s.downcase.to_sym => @parent, :sub_page => true}

  - if @parent.class == User

    %p
        
    .row
      .span7.offset1
        .row
          .span6.offset1
            %h3
              = 'Activities'
              = link_to 'Back', vanity_path(@parent), :class => 'right btn btn-mini'
            %hr
        %ul.items.activities
          - @activities.each do |activity|
            = render :partial => '/activities/activity', :locals => {:activity => activity}
          .row
            .span6.offset1
              = paginate @activities    