.row
  .span1
    = image_tag(cube.avatar_url(:thumb), :class => 'push-further-down right')
  .span11
    .page-header
      .row
        .span6
          %h1
            %p
              - if (sub_page == true rescue nil)
                = link_to cube.name, vanity_path(cube)
              - else
                = cube.name
          .big-text

            .content
              - if cube.description && !cube.description.blank?
                = htmlize(cube.description)                

            / .managers
            / %p
            /   = managers_list(cube)
              

            %p
              - if cube.topic
                = "Cube about "
                = link_to cube.topic.name, topic_path(cube.topic)
                = ', '

              = link_to(pluralize(cube.posts.count , "#{Post.context_tipe}"), vanity_posts_path(cube)) 
              = ' and '
              = link_to pluralize(cube.followers.count, 'follower'), vanity_followers_path(cube)

        .span4.offset1
          .clearfix
            - if user_signed_in?
              - if cube.managers.include?(current_user)
                %a{:class => 'btn dropdown-toggle', :href => edit_vanity_path(cube), 'data-toggle' => 'dropdown'}
                  %i.icon-wrench

            %span.follow_panel{:data => {"id" => cube.id, "tipe" => cube.class.to_s }}
              = follow_button(cube)   
          - unless (sub_page == true rescue nil)
            .clearfix
              = render :partial => '/shared/share_panel'                        