- provide :content do
  
  .clearfix
    %h2.page-header
      = 'Featured Cubes'
    %ul.items.links.items-content
      - @featured_cubes.each do |cube|
        = render :partial => 'cubecard', :locals => {:cube => cube}
      = paginate(@cubes)

  .clearfix
    %h2.page-header
      = 'Cubes'
      %span.right
        = link_to 'Create Cube', new_cube_path, :class => 'btn btn-inverse'
    %ul.items.links.items-content
      - @cubes.each do |cube|
        = render :partial => 'cubecard', :locals => {:cube => cube}
      = paginate(@cubes)