- provide :content do

  = render :partial => 'header', :locals => {:cube => @cube}

  .row
    .span7
      .row
        .span6.offset1
          %h3
            = 'Opinions'
            %span.minor.right
              = link_to 'See all', vanity_posts_path(@cube) 
          %hr.slim

          - if user_signed_in?
            = render :partial => '/shared/new_post', :locals => {:parent => @cube}
            %hr.slim

      .row  
        - if @posts.length == 0
          .span6.offset1
            = 'No opinions yet'

        - else
          .span7
            %ul.items.posts
              - @posts.each do |post|
                = render :partial => '/posts/post', :locals => {:post => post}
            .row
              .span6.offset1
                = link_to 'See all opinions', vanity_posts_path(@cube) 

    .span5
      .row
        .span4.offset1
          %h3
            = 'Recent activities'
            %span.minor.right
              = link_to 'See all', vanity_activities_path(@activities)
          %hr.slim
      %ul.items.activities
        - @activities.each do |activity|
          = render :partial => '/activities/mini_activity', :locals => {:activity => activity}
        .row
          .span4.offset1
            = link_to 'See all activities', vanity_activities_path(@cube)  

        / - @cube.feed.limit(8).each do |opinion|
        /   %li
        /     = link_to opinion.name, vanity_post_path(@cube, opinion), :class => 'core'         