!!!
%html
  %head
    = raw analytical.head_prepend_javascript 
    = raw analytical.body_prepend_javascript
    %title 
      = title
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = display_meta_tags :open_graph => {:title => @title, :site_name => 'Criticube' , :url => request.url, :description => strip_tags(description),:type => 'website', :image => (@special_image ? @special_image : full_url('/assets/og_logo.png'))}, 'fb:app_id' => fb_app_id , :keywords => keywords_array    
    #fb-root
    %script{:src => "//connect.facebook.net/en_US/all.js#xfbml=1"} 
    %script{:src => "//platform.twitter.com/widgets.js", :type => "text/javascript"}
    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-20803740-1']); _gaq.push(['_trackPageview']); (function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
    - else
      :javascript
        var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-33989219-1']); _gaq.push(['_trackPageview']); (function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
    = raw analytical.head_append_javascript
    - analytical.identify(current_user.id) if current_user    

  %body{:style => (@special_page ? 'background-color: #EEE;' : '')}
    
    = render 'shared/header'
    .container.epicenter
      - if notice
        .alert.alert-info
          %button.close{:type => 'button', 'data-dismiss' => 'alert'} &times;
          = notice
      - if alert
        .alert.alert-error
          %button.close{:type => 'button', 'data-dismiss' => 'alert'} &times;
          = alert
      = yield :content
    = render 'shared/footer'
    = raw analytical.body_append_javascript      